body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 350px;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    background-color: #fff;
}

h1 {
    margin: 0;
}

main {
    background-color: #cdc1ff;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
}
